.select-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.select-container__select {
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  height: 40px;
  padding-inline: 10px;
}
.select-container__select:focus {
  border: 1.7px solid var(--icon-color);
  outline: none;
}
.select-container__select:focus ~ label,
.select-container__select:not(:placeholder-shown) ~ label {
  font-size: 13px;
}
.label-select {
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  left: 16px;
  padding: 0 2px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  transition: 250ms;
  user-select: none;
}
