.mini-card {
  border-radius: 10px;
  flex-direction: column;
  gap: 1rem;
  height: 190px;
  width: 280px;
}
.mini-card__image {
  object-fit: cover;
}
.mini-card__header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.mini-card__text {
  font-size: 14px;
}
