.long-card {
  border-radius: 15px;
  cursor: pointer;
  display: grid;
  margin: 1rem 0.5rem;
  min-height: 300px;
  overflow: hidden;
  place-items: center;
  position: relative;
  width: 100%;
}
.long-card::after {
  background-color: #22222283;
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;
  width: 40%;
}

.long-card__column {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  min-height: 120px;
  padding: 1rem;
  width: 100%;
}
.long-card__column img {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
}
.long-card-user-info div .mini-card__header {
  font-family: syne;
  font-size: 1.3rem;
}
.long-card-date-info {
  text-align: center;
}
.long-card__title {
  font-family: syne;
  font-size: 1.5rem;
  font-weight: 700;
}
.long-card-service-info img {
  min-width: 250px;
}

.column__date {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.column__date__text {
  align-items: center;
  color: #333;
  display: flex;
  font-size: 14px;
  gap: 0.5rem;
  justify-content: center;
}
.column__date__text,
.column__date__text strong {
  user-select: text;
}
.column__date__text strong {
  color: #000;
}

/* * Estado */
.long-card.pendiente:hover,
.long-card.respondido:hover {
  background-color: rgba(14, 8, 2, 0.08);
}

@media all and (max-width: 768px) {
  .long-card {
    border-radius: 0;
    margin: 0 0 1rem;
  }
  .long-card__column {
    padding: 1rem 0.5rem;
  }
}
@media all and (min-width: 768px) {
  .long-card {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 960px) {
  .long-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
