.Button {
  background: var(--orange-gradient);
  background-size: 200%;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-family: 'Syne', sans-serif;
  height: 40px;
  letter-spacing: 1px;
  padding: 10px 1rem;
  transition: background-position 600ms;
  user-select: none;
}
.Button:hover {
  background-position: 50%;
}
