.service-info {
  background-color: #eee;
  border-radius: 15px;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  left: 50%;
  margin: 2rem 2rem 2rem 0;
  max-width: 1400px;
  min-height: 600px;
  padding: 1rem;
  position: relative;
  translate: -50%;
}
.service-info > div {
  align-items: center;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr 2fr;
  padding: 0 2rem;
  place-items: center;
}
.service-info img {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border-radius: 15px;
  object-fit: contain;
}

.service-aside {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.service-aside p {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.7rem;
  max-width: 50ch;
  text-align: justify;
}
.service-aside__title,
.description__title {
  font-family: syne;
  font-size: 28px;
}
.service-aside button {
  margin-top: 1rem;
  width: fit-content;
}
.service-aside > * {
  user-select: text;
}

.service-info__description {
  margin-left: 3.5rem;
}
.description__title {
  width: fit-content;
}
.offers {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1.2fr 2fr;
  margin: 1rem 0;
  padding: 2rem;
  width: max-content;
}
.offers__item {
  align-items: center;
  display: flex;
  gap: 8px;
}
.offers__item svg {
  font-size: 1.3rem;
}
.offers__item p {
  font-family: system-ui;
  font-weight: 300;
}

@media (max-width: 1000px) {
  .service-info img {
    height: 400px;
    width: 400px;
  }
  .service-info > div {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .service-aside button {
    margin: 1rem auto 0;
  }
  .offers {
    grid-template-columns: 1fr;
    margin: auto;
    width: 280px;
  }
  .service-info__description h2 {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .service-info__description {
    margin-left: 0;
  }
  .service-info > div {
    padding: 0;
  }
  .service-aside button {
    margin: 1rem auto 0;
  }
  .description__title {
    text-align: center;
    width: 100%;
  }
  .offers {
    grid-template-columns: 1fr;
    margin: auto;
    width: 280px;
  }
  .service-info img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 500px) {
  .service-info {
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    margin: 1.5rem 0;
  }
  .service-info img {
    height: 280px;
    width: 280px;
  }
}
