.citas {
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  left: 50%;
  margin: 2rem 2rem 2rem 0;
  max-width: 1400px;
  position: relative;
  translate: -50%;
}
.citas-nav {
  border-radius: 15px 15px 0 0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.citas-nav__ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem;
}
.citas-nav__ul button {
  font-size: 1rem;
}
button.cita-active {
  color: #fd8b26;
}
.cita {
  display: flex;
  place-content: center;
  position: relative;
}
.id-cita {
  background-color: #fff;
  border-radius: 50px;
  left: 2rem;
  padding: 0.3rem 0.8rem;
  position: absolute;
  top: 2rem;
}

.citas-loader {
  top: -4rem;
}
.citas-loader,
.citas-loader:before,
.citas-loader:after {
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}
.citas-loader {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  color: #000;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.citas-loader:before,
.citas-loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.citas-loader:before {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  left: -3.5em;
}
.citas-loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@media (max-width: 768px) {
  .citas-nav__ul {
    justify-content: center;
  }
  .id-cita {
    left: 0.8rem;
    top: 0.8rem;
    scale: 0.9;
  }
}

@media (max-width: 576px) {
  .citas {
    border: none;
    border-radius: 0;
    margin: 0.5rem 0 1rem;
  }
  .citas-nav {
    border-radius: 0;
  }
}
