.card {
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  min-height: 600px;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
  transition: all 0.2s ease-in-out !important;
}
.card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
picture {
  background: linear-gradient(to right, #dbe1e4, #e7f0f2, #d9dee1);
  border-radius: 10px;
  overflow: hidden;
  padding: 0 0 0.2rem 0.5rem;
}
.card__image {
  border-radius: 1px 10px 1px 10px;
  object-fit: cover;
}
.card__title {
  font-family: 'Syne', sans-serif;
  font-weight: 600;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 300px;
}
.card__text {
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 300px;
}
.card__button {
  margin: 0.5rem auto;
}

@media (max-width: 630px) {
  picture {
    height: 258px;
    width: 258px;
  }
  .card__title {
    width: 250px;
  }
  .card__text {
    width: 250px;
  }
  .card__image {
    height: 250px;
    width: 250px;
  }
}
