.card {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1rem;
}
.card:hover {
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}
picture {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border-radius: 10px;
  overflow: hidden;
  padding: 0 0 0.2rem 0.5rem;
}
.card__image {
  border-radius: 1px 10px 1px 10px;
  object-fit: cover;
}
.card__title {
  font-family: 'Syne', sans-serif;
  font-weight: 600;
  text-align: center;
  width: 300px;
}
.card__text {
  text-align: center;
  width: 300px;
}

@media (max-width: 630px) {
  picture {
    height: 258px;
    width: 258px;
  }
  .card__title {
    width: 250px;
  }
  .card__text {
    width: 250px;
  }
  .card__image {
    height: 250px;
    width: 250px;
  }
}
