.about-us-container {
  display: grid;
  padding: 4rem 0;
  place-items: center;
  position: relative;
  z-index: 1;
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.info__title {
  font-family: 'Syne', sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  padding: 0 2rem;
}
.info__subtitle {
  font-size: 1rem;
  font-weight: 400;
  max-width: 65ch;
  padding: 0 1rem;
  text-align: center;
}
.cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  height: max-content;
}

.loader {
  left: 200%;
}
.loader,
.loader:before,
.loader:after {
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}
.loader {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  color: #000;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  left: -3.5em;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@media (max-width: 1100px) {
  .loader {
    left: 100%;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .loader {
    left: 0;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 630px) {
  .loader {
    left: 0;
  }
  .info__subtitle {
    width: 90%;
  }
  .info__title {
    font-size: 36px;
  }
  .info {
    width: 100%;
  }
}
@media (max-width: 430px) {
  .info__title {
    font-size: 30px;
  }
}
