.services {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  height: 35vh;
  padding-bottom: 10rem;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}
.service {
  align-items: center;
  display: flex;
  gap: 17px;
}
.service__image {
  display: flex;
}
.service__image img {
  aspect-ratio: 1;
  width: 35px;
}
.service__text {
  align-items: center;
  color: var(--text-color);
  display: flex;
}
@media (max-width: 390px) {
  .services {
    margin-top: 3.5rem;
  }
}

@media (min-height: 630px) AND (max-height: 750px) {
  .services {
    margin-top: 5rem;
  }
}
@media (max-height: 630px) {
  .services {
    margin-bottom: 3rem;
    margin-top: 6rem;
  }
}
@media (max-height: 580px) {
  .services {
    margin-bottom: 3rem;
    margin-top: 10rem;
  }
}
@media (max-height: 500px) {
  .services {
    margin-bottom: 4rem;
    margin-top: 19rem;
  }
}
