.nf-container {
  flex-direction: column;
  gap: 3.5rem;
  height: 100vh;
}
.nf-container__text {
  flex-direction: column;
}
.nf-container__text h1 {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
.nf-container__text p {
  margin-bottom: 0.8rem;
}
.nf-container__text h1 .inicio {
  color: var(--icon-color);
  text-decoration: underline;
  transition: color 300ms ease;
}
.nf-container__text h1 .inicio:hover {
  color: var(--icon-hover-color);
}
