.Button-2 {
  background: none;
  border: 2px solid #ff2525;
  border-radius: 15px;
  color: #ff2525;
  cursor: pointer;
  font-family: 'Syne', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 10px 1rem;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  user-select: none;
}
.Button-2:hover {
  border-color: #f39a25;
  color: #f39a25;
}
