.Button-2 {
  background: none;
  background-color: white;
  border: 2px solid #ff2525;
  border-radius: 15px;
  color: #e50e0e;
  cursor: pointer;
  font-family: 'Syne', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  min-width: max-content;
  padding: 10px 1rem;
  transition: border-color 250ms ease-in-out, color 250ms ease-in-out;
}
.Button-2:hover {
  border-color: #f39a25;
  color: #f39a25;
}
.Button-2.disabled {
  filter: brightness(80%);
  gap: 8px;
  pointer-events: none;
}
.Button-2.disabled svg {
  animation: rotate 1.2s infinite linear;
  stroke-width: 70px;
}
@keyframes rotate {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
