.team {
  align-items: center;
  background: linear-gradient(to top, #232526, #414345);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
}
.team__title {
  font-family: 'Syne', sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
.team__text {
  max-width: 65ch;
  text-align: center;
}
.colleagues {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1220px) {
  .colleagues {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .colleagues {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 630px) {
  .team__text {
    width: 90%;
  }
  .team__title {
    font-size: 36px;
  }
}
@media (max-width: 430px) {
  .team__title {
    font-size: 30px;
  }
}
