.team {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
  padding: 3rem 0 4rem;
}
.team__title {
  font-family: 'Syne', sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
.team__text {
  text-align: center;
  width: 70%;
}
.colleagues {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1180px) {
  .colleagues {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .colleagues {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 630px) {
  .team__text {
    width: 90%;
  }
  .team__title {
    font-size: 36px;
  }
}
@media (max-width: 430px) {
  .team__title {
    font-size: 30px;
  }
}
