.team {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
}
.team__title {
  font-family: 'Syne', sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
.team__text {
  text-align: center;
  width: 70%;
}
.colleagues {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

@media (max-width: 630px) {
  .team__text {
    width: 90%;
  }
  .team__title {
    font-size: 36px;
  }
}
@media (max-width: 430px) {
  .team__title {
    font-size: 30px;
  }
}
