footer {
  background: linear-gradient(to top, #232526, #414345);
  color: #ffffff99;
  padding: 4rem;
}
footer a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: underline;
}
.office-hours {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  color: #000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto 2rem;
  padding: 1rem 3rem;
  width: fit-content;
}
.office-hours {
  box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.1);
}
.office-hours h2 {
  text-align: center;
  user-select: text;
}
.office-hours__lista {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  text-align: center;
}
.office-hours__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: text;
}
.office-hours__item strong {
  user-select: text;
}
.footer__contact-links {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.footer__contact-links::after {
  background: white;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
}
.footer__contact-links::before {
  background: white;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
}
.footer__contact-links svg {
  color: #ffffff99;
  font-size: 2rem;
  transition: all 300ms;
}
.footer__contact-links svg:hover {
  color: white;
  scale: 1.15;
}

.footer__bottom {
  text-align: center;
}
.footer__logo img {
  margin-bottom: 1rem;
  transition: all 400ms ease;
  width: 80px;
}
.footer__logo img:hover {
  rotate: 15deg;
  scale: 1.15;
}
.footer__logo p {
  font-size: 13px;
}
.footer__copyright {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

.footer__copyright a:nth-child(1)::after,
.footer__copyright a:nth-child(2)::after {
  background-color: white;
  content: '';
  display: inline-block;
  height: 100%;
  margin-left: 3rem;
  width: 1px;
}

@media (max-width: 768px) {
  .footer__copyright {
    flex-direction: column;
    gap: 4px;
  }
  .footer__contact-links::after,
  .footer__contact-links::before {
    display: none;
  }
  .footer__contact-links svg {
    font-size: 1.5rem;
  }
  .footer__copyright a:nth-child(1)::after,
  .footer__copyright a:nth-child(2)::after {
    display: block;
    height: 1px;
    margin: 1rem auto;
    width: 100%;
  }
}
