.frequent-questions {
  align-items: start;
  display: grid;
  gap: 3rem;
  grid-template-columns: 40% 1fr;
  margin: 2rem auto 0;
  padding: 3rem 0 4rem;
  max-width: 1100px;
}
.frequent-questions section {
  flex-direction: column;
  padding-top: 2rem;
}
.frequent-questions aside {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 450px;
  min-height: 400px;
  padding: 2rem;
}
.frequent-questions__title {
  font-family: 'Syne', sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
.frequent-questions__text {
  margin: 2rem 0 1rem;
  text-align: center;
  max-width: 65ch;
}
@media (max-width: 870px) {
  .frequent-questions aside {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 630px) {
  .frequent-questions__text {
    width: 90%;
  }
  .frequent-questions__title {
    font-size: 36px;
  }
}
@media (max-width: 591px) {
  .frequent-questions {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 430px) {
  .frequent-questions__title {
    font-size: 30px;
  }
}
