.frequent-questions {
  align-items: center;
  display: grid;
  gap: 3rem;
  grid-template-columns: 40% 1fr;
  margin: 2rem auto 0;
  max-width: 1100px;
  padding: 3rem 1rem 4rem;
}
.frequent-questions section {
  flex-direction: column;
}
.frequent-questions aside {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-height: 470px;
  padding: 2rem;
  place-items: center;
}
.frequent-questions__title {
  font-family: 'Syne', sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
.frequent-questions__text {
  margin: 2rem 0 1rem;
  max-width: 65ch;
  text-align: center;
}
.frequent-questions__buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  justify-content: center;
}
@media (max-width: 920px) {
  .frequent-questions aside {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 630px) {
  .frequent-questions__text {
    width: 90%;
  }
  .frequent-questions__title {
    font-size: 36px;
  }
}
@media (max-width: 591px) {
  .frequent-questions {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 430px) {
  .frequent-questions__title {
    font-size: 30px;
  }
}
