.provide {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 2rem 0;
  padding: 3rem 0 4rem;
}
.provide__title {
  font-family: 'Syne', sans-serif;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}
.provide__text {
  max-width: 65ch;
  text-align: center;
}
.provides {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1300px) {
  .provides {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .provides {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 630px) {
  .provide__text {
    width: 90%;
  }
  .provide__title {
    font-size: 36px;
  }
}
@media (max-width: 430px) {
  .provide__title {
    font-size: 30px;
  }
}
