.reset-password__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  min-height: 80vh;
}
.reset-password__card {
  border: 3px solid rgba(0, 0, 0, 1);
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  min-height: 400px;
  padding: 1.5rem;
  transition: all 300ms;
}
.reset-password__card:hover {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 1);
}
.container__image {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.container__title {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.container__text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1rem;
  max-width: 45ch;
  text-align: center;
}
.container__form {
  padding: 1.5rem 0.7rem;
  width: 400px;
}
.container__form button {
  margin: auto;
  margin: 2rem auto 0;
}
@media (max-width: 490px) {
  .reset-password__card {
    border: 1px solid rgba(0, 0, 0, 1);
    width: 90%;
  }
  .reset-password__card:hover {
    box-shadow: none;
  }
  .container__form {
    width: 90%;
  }
  .container__form button {
    font-size: 12px;
  }
}
