.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input-login:hover {
  border: 1.7px solid #222;
}
.input-login:read-only {
  background-color: #eee;
  border: 1.7px solid gray;
  cursor: default;
  outline: none;
}
.input-login:read-only:focus {
  border: 1.7px solid gray;
}
.input-login:focus {
  border: 1.7px solid var(--icon-color);
  outline: none;
}
.input-login:focus ~ label,
.input-login:not(:placeholder-shown) ~ label {
  background-color: white;
  font-size: 13px;
  left: 16px;
  padding: 0 2px;
  top: 0;
  user-select: none;
}
.label-login {
  color: rgba(0, 0, 0, 0.7);
  left: 16px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 250ms;
}
.input-login[type='number']::-webkit-inner-spin-button,
.input-login::-webkit-inner-spin-button,
.input-login[type='number']::-webkit-outer-spin-button,
.input-login[type='number'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
