.input-container {
	display: flex;
	flex-direction: column;
	position: relative;
}
.input-login:focus ~ label,
.input-login:valid ~ label {
	background-color: white;
	left: 16px;
	padding: 0 2px;
	top: 0;
	user-select: none;
}
.label-login {
	color: rgba(0, 0, 0, 0.7);
	left: 16px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: 250ms;
}
.input-login[type='number']::-webkit-inner-spin-button,
.input-login[type='number']::-webkit-outer-spin-button,
.input-login[type='number'] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
}
