.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-top: 4rem;
  min-height: 40vh;
  padding: 0 2rem;
  position: relative;
}
.home-container::before {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f76b1c 0%,
    rgba(251, 172, 127, 0.5625) 43.75%,
    rgba(255, 255, 255, 0) 100%
  );
  content: '';
  filter: blur(69.6px);
  height: 100%;
  inset: 0;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.home-container h1 {
  color: white;
  font-size: calc(5em + 1vmin);
  letter-spacing: 9px;
  position: relative;
  text-align: center;
  width: 800px;
}
.home-container h1 span {
  color: var(--text-color);
  left: 7px;
  letter-spacing: 9px;
  position: absolute;
  top: -3px;
}
.home-container p {
  max-width: 65ch;
  text-align: center;
}
.home-container .buttons {
  display: flex;
  gap: 0.8rem;
  margin-top: 2rem;
}

/*? Services section */
.services {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 2rem auto;
  min-height: 35vh;
  width: 70%;
}
.service {
  align-items: center;
  display: flex;
  gap: 1rem;
}
.service__image img {
  aspect-ratio: 1;
  width: 35px;
}
.service__text {
  align-items: center;
  color: var(--text-color);
  display: flex;
}

/* @media (min-height: 630px) AND (max-height: 750px) {
  .services {
    margin-top: 5rem;
  }
}
@media (max-height: 630px) {
  .services {
    margin-bottom: 3rem;
    margin-top: 6rem;
  }
}
@media (max-height: 610px) {
  .services {
    margin-bottom: 3rem;
    margin-top: 10rem;
  }
}
@media (max-height: 500px) {
  .services {
    margin-bottom: 4rem;
    margin-top: 19rem;
  }
} */

@media (max-width: 857px) {
  .home-container h1 {
    font-size: calc(3em + 1vmin);
    width: 600px;
  }
}
@media (max-width: 630px) {
  .home-container h1 {
    font-size: calc(2.3em + 1vmin);
    width: 320px;
  }
}
