nav {
	background-color: var(--white-color);
	display: flex;
	justify-content: space-evenly;
	min-height: 3rem;
	padding: 0 1.5rem;
}
.wrapper {
	background: linear-gradient(#222, #222), var(--orange-gradient);
	background-origin: padding-box, border-box;
	background-repeat: no-repeat;
	height: .1px;
	/* border: 1px solid transparent; */
}
ul {
	align-items: center;
	display: flex;
	font-size: 14px;
	gap: 1rem;
	justify-content: center;
	list-style: none;
	width: 100%;
}

a {
	color: #333;
}

/* Menú responsive */
.menu {
	display: none;
}
.menu__button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 1.3rem;
	justify-content: space-around;
	transition: translate 500ms ease-in-out;
	width: 1.3rem;
	z-index: 2;
}
.menu__button > div {
	background-color: var(--text-color);
	border-radius: 5px;
	height: 2px;
	transform-origin: left;
	transition: all 200ms ease-in-out;
	width: 100%;
}
.menu__button:hover > div {
	background-color: #777;
}

.menu__button.hover > div {
	background-color: white;
}
.menu__button.hover div:first-child {
	rotate: 45deg;
}
.menu__button.hover div:nth-child(2) {
	opacity: 0;
}
.menu__button.hover div:nth-child(3) {
	rotate: -45deg;
}

.navigation {
	align-items: center;
	background-color: #333;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 40vh;
	height: 100vh;
	justify-content: center;
	left: 0;
	overflow: auto;
	position: absolute;
	top: 0;
	transition: translate 500ms ease-in-out;
	width: 50%;
	z-index: 1;
	padding-block: 3rem 1rem;
}
.navigation > * {
	color: white;
}
.navigation.close-menu {
	translate: -101%;
}

.navigation a {
	padding: 0.5rem;
	text-align: center;
	transition: background 200ms ease-in-out;
	width: 100%;
}
.navigation a:hover {
	background: #777;
}

@media (max-width: 857px) {
	.left,
	.right {
		display: none;
	}
	.menu {
		align-items: center;
		display: flex;
	}
}

.fade-gray {
	transition: color 150ms ease-out;
}
.fade-gray:hover {
	color: #777;
}