/* Header */
.login-header {
	display: grid;
	height: 9vh;
	place-items: center;
}
.header-line {
	border: 1pt solid rgba(226, 226, 226, 0.4);
	margin: 1rem;
}
.go-back {
	color: var(--background-color);
	font-size: 14px;
	left: 20px;
	position: absolute;
	top: 4%;
	transition: 200ms color ease-in-out;
}
.go-back:hover {
	color: var(--icon-color);
}

/* first login form */
.login-form {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.register-label p {
	font-size: 24px;
	font-weight: 500;
	margin: 20px;
	text-align: center;
}

/* Second login form */
.second-login {
	display: flex;
	flex-direction: column;
	padding-block: 1.5rem;
	padding-inline: 0.7rem;
	width: 400px;
}
.main-form {
	gap: 1rem;
}
.main-form .container {
	display: flex;
	flex-direction: column;
	position: relative;
}
.input-login:focus ~ label,
.input-login:valid ~ label {
	background-color: white;
	left: 16px;
	padding: 0 2px;
	top: 0;
}
.label-login {
	color: rgba(0, 0, 0, 0.7);
	left: 16px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: 250ms;
}

/* Register */
.register {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}
.register > * {
	color: white;
	width: 60%;
}

/* Media Queries */
@media (max-width: 630px) {
	.second-login {
		width: 95%;
	}
}
@media (max-width: 450px) {
	/* .second-login {
		width: 100%;
	} */
	.line-breaker {
		width: 100%;
	}
	.button_fb {
		width: 300px;
	}
	.button_gg {
		width: 300px;
	}
	.first-login {
		width: 300px;
	}
	.buttons {
		width: 300px;
	}
}
