.mis-citas {
  min-height: 50vh;
  padding: 2rem;
}
.title__center {
  font-family: 'Syne', sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 1rem;
  max-width: 1300px;
  text-align: center;
}
