.mis-citas {
  min-height: 50vh;
  padding: 2rem;
}
.title__center {
  font-family: 'Syne', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 2.5rem 1rem;
  max-width: 1300px;
  text-align: center;
}
.citas-nav {
  display: grid;
  place-content: center;
}