nav {
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  padding: 0 1rem;
}
.wrapper {
  background: var(--orange-gradient);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat;
  height: 0.3vh;
}
ul {
  list-style: none;
}
.left,
.right,
.logo {
  align-items: center;
  display: flex;
  font-size: 1rem;
  gap: 2.5rem;
  justify-content: center;
  margin: 0.5rem;
}
.logo a {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  transition: scale 300ms ease;
}
.logo a:hover {
  scale: 1.025;
}
.logo__text {
  color: #999;
  font-family: 'Syne', sans-serif;
  position: relative;
}
.logo__text::before {
  background-color: #999;
  content: '';
  height: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.logo__text-span {
  color: #000;
  font-family: 'Syne', sans-serif;
  position: relative;
}
.logo__text-span::before {
  background-color: var(--white-color);
  content: '';
  height: 3px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.left {
  display: flex;
  gap: 2rem;
}
.left a:hover {
  scale: unset;
}
.left li {
  width: max-content;
}
a {
  color: #333;
}

.navbar p {
  align-items: center;
  display: flex;
  position: relative;
}

.navbar p::before {
  background: var(--orange-gradient);
  bottom: -2px;
  content: '';
  height: 1.3px;
  left: 0;
  position: absolute;
  transition: width 250ms ease-out;
  width: 0;
}

.navbar p:hover::before {
  width: 100%;
}

.register-login-buttons {
  display: flex;
  gap: 8px;
}

.fade-gray {
  transition: color 150ms ease-out;
}
.fade-gray:hover {
  color: #555;
}

.user {
  align-items: center;
  border-radius: 15px;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 2px 1rem;
  position: relative;
  transition: border-color 300ms ease-in-out;
  z-index: 2;
}
.user__text {
  transition: color 300ms ease;
}
.user__container:hover .user__text {
  color: #555;
}
.user__image {
  background: linear-gradient(to top, #232526, #414345);
  border-radius: 50%;
  object-fit: cover;
}
.user__image img {
  border-radius: 50%;
}
.user__options {
  background-color: var(--white-color);
  border: 2px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -2px;
  top: 46px;
  width: max-content;
}
.options__option {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 6px;
  justify-content: center;
  padding: 1rem;
  transition: background 300ms ease;
  z-index: 1;
}
.options__option:hover {
  background: #ccc;
  color: #000;
}
.options__option:nth-child(1) {
  cursor: default;
  display: flex;
  gap: 0.5rem;
  justify-content: start;
  max-width: 200px;
  white-space: nowrap;
}
.options__option:nth-child(1):hover {
  background: transparent;
}
.user__name {
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: text;
}
.options__option:nth-child(3) {
  margin-top: 1rem;
  position: relative;
}
.options__option:nth-child(3)::before {
  background-color: gray;
  content: '';
  height: 1px;
  position: absolute;
  top: -0.5rem;
  width: 100%;
}
.logout a {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
}

@media (max-width: 1100px) {
  .left,
  .right {
    display: none;
  }
  nav {
    justify-content: center;
  }
}
