nav {
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  padding: 0 1rem;
}
.wrapper {
  background: var(--orange-gradient);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat;
  height: 0.3vh;
}
ul {
  align-items: center;
  display: flex;
  font-size: 1rem;
  gap: 2.5rem;
  justify-content: center;
  list-style: none;
  margin: 0.5rem;
}
.logo a {
  align-items: center;
  display: flex;
}
.left {
  display: flex;
  gap: 2rem;
}
.left li {
  width: max-content;
}
a {
  color: #333;
}

nav p {
  position: relative;
}

nav p::before {
  background: var(--orange-gradient);
  bottom: -2px;
  content: '';
  height: 1.3px;
  left: 0;
  position: absolute;
  transition: width 250ms ease-out;
  width: 0;
}

nav p:hover::before {
  width: 100%;
}

.register-login-buttons {
  display: flex;
  gap: 8px;
}

.fade-gray {
  transition: color 150ms ease-out;
}
.fade-gray:hover {
  color: #555;
}

@media (max-width: 1100px) {
  .left,
  .right {
    display: none;
  }
  nav {
    justify-content: center;
  }
}
