nav {
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  padding: 0 1rem;
}
.wrapper {
  background: var(--orange-gradient);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat;
  height: 0.3vh;
}
ul {
  align-items: center;
  display: flex;
  font-size: 1rem;
  gap: 2.5rem;
  justify-content: center;
  list-style: none;
  margin: 0.5rem;
}
.logo a {
  align-items: center;
  display: flex;
}
.left {
  display: flex;
  gap: 2rem;
}
.left li {
  width: max-content;
}
a {
  color: #333;
}

nav p {
  position: relative;
}

nav p::before {
  background: var(--orange-gradient);
  bottom: -2px;
  content: '';
  height: 1.3px;
  left: 0;
  position: absolute;
  transition: width 250ms ease-out;
  width: 0;
}

nav p:hover::before {
  width: 100%;
}

.register-login-buttons {
  display: flex;
  gap: 8px;
}

.fade-gray {
  transition: color 150ms ease-out;
}
.fade-gray:hover {
  color: #555;
}

.user {
  border-radius: 15px;
  color: #444;
  cursor: pointer;
  padding: 4px 1rem 4px 4px;
  position: relative;
  transition: background 200ms;
  width: 100px;
}
.user:hover {
  background-color: #ccc;
}
.user:focus {
  outline: none;
}
.user__image img {
  width: 40px;
}
.user__options {
  color: var(--text-color);
  cursor: pointer;
  display: none;
  font-size: 14px;
}
.user__options.show {
  bottom: -2.8rem;
  display: block;
  position: absolute;
}
.user__icon {
  color: #6012cd;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.logout {
  text-align: center;
  top: 100%;
  transition: color 150ms ease-out;
  width: 100%;
}
.logout a {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
}

@media (max-width: 1100px) {
  .left,
  .right {
    display: none;
  }
  nav {
    justify-content: center;
  }
}
