@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&family=Syne:wght@600;700&display=swap');

:root {
  --background-color: #78c525;
  --background-color: #faa628;
  --icon-color: #fd8b26;
  --icon-hover-color: #fd5d21;
  --text-color: #181515;
  --white-color: #eeeeee;
  --orange-gradient: linear-gradient(-160deg, #ff2525 40%, #ffe53b);
}

*,
body,
::after,
::before {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}
.gap {
  gap: 4px;
}
a {
  text-decoration: none;
}
.navbar a.is-active {
  position: relative;
}
.navbar a.is-active p::before {
  background: var(--orange-gradient);
  bottom: -2px;
  content: '';
  height: 1.3px;
  left: 0;
  position: absolute;
  transition: width 250ms ease-out;
  width: 100%;
}

img[alt] {
  color: #fff;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}
